Options -Indexes
RewriteEngine On
# RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?note=$1
RewriteRule ^/?([a-zA-Z0-9_-]+)$ index.php?note=$1 [L,QSA]
RewriteRule ^/?([a-zA-Z0-9_-]+)/([a-zA-Z_0-9]+)$ index.php?note=$1&click=$2 [L]

<IfModule mod_headers.c>
    Header set X-Robots-Tag: "noindex, nofollow"
</IfModule>

# Uncomment the lines below to enable basic authentication.
# See https://httpd.apache.org/docs/current/programs/htpasswd.html for generating your .htpasswd

# AuthType basic
# AuthName "website.name"
# AuthUserFile "/home/user/update-path-to.htpasswd"
# Require valid-user
