html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--page-bg-color);
    color: #151a20;
    scroll-behavior: smooth
}

*,
:after,
:before {
    box-sizing: inherit
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0;
    padding: 0;
    font-weight: 400
}

ol,
ul {
    list-style: none
}

img {
    max-width: 100%;
    height: auto
}

/* CSS Variables & Theming ********************************/
:root {
    --color-mode: "light";
    --theme-color: #00bfa5;
    --page-bg-color: #F2F6F6;
    --page-bg-color-light: #ffffff;
    --text-color: #001710;
    --text-color-light: #ffffff;
    --text-muted: #4a5050;
    --text-muted-x: #888f8f;
    --text-muted-xx: #9da7a7;
    --shadow-large: 0 4px 8px 0px rgba(0,13,18,.06);
    --border-input-light: #dce2e2;
    --border-input-dark: #727777;
    --bg-btn-light: #c0caca;
    --img-filter: invert(0%);
    --scrollbar: #9da7a7;
    --switch-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(157, 167, 167)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-moon'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'%3E%3C/path%3E%3C/svg%3E");
    --info-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' width='24' height='24' viewBox='0 0 24 24' stroke='rgb(157, 167, 167)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
    --grid-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' width='24' height='24' viewBox='0 0 24 24' stroke='rgb(157, 167, 167)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z' /%3E%3C/svg%3E");

    }
    @media (prefers-color-scheme: dark) {
    :root {
      --color-mode: "dark";
    }
    :root:not([data-user-color-scheme]) {
        --color-mode: "dark";
        --theme-color: #00bfa5;
        --page-bg-color: #151a20;
        --text-color: #d5e2df;
        --page-bg-color-light: #212931;
        --shadow-large: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
        --border-input-light: #0e1216;
        --border-input-dark: #445258;
        --text-muted: #848f9b;
        --text-muted-x: #6f7575;
        --text-muted-xx: #4a5663;
        --bg-btn-light: #3e4550;
        --img-filter:  invert(75%) brightness(160%);
        --scrollbar: #212931;
        --switch-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(74, 86, 99)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sun'%3E%3Ccircle cx='12' cy='12' r='5'%3E%3C/circle%3E%3Cline x1='12' y1='1' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='23'%3E%3C/line%3E%3Cline x1='4.22' y1='4.22' x2='5.64' y2='5.64'%3E%3C/line%3E%3Cline x1='18.36' y1='18.36' x2='19.78' y2='19.78'%3E%3C/line%3E%3Cline x1='1' y1='12' x2='3' y2='12'%3E%3C/line%3E%3Cline x1='21' y1='12' x2='23' y2='12'%3E%3C/line%3E%3Cline x1='4.22' y1='19.78' x2='5.64' y2='18.36'%3E%3C/line%3E%3Cline x1='18.36' y1='5.64' x2='19.78' y2='4.22'%3E%3C/line%3E%3C/svg%3E");
        --info-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' width='24' height='24' viewBox='0 0 24 24' stroke='rgb(74, 86, 99)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
        --grid-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' width='24' height='24' viewBox='0 0 24 24' stroke='rgb(74, 86, 99)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z' /%3E%3C/svg%3E");  
    }
    }
    [data-user-color-scheme="dark"] {
      --color-mode: "dark";
      --theme-color: #00bfa5;
      --page-bg-color: #151a20;
      --text-color: #d5e2df;
      --page-bg-color-light: #212931;
      --shadow-large: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
      --border-input-light: #0e1216;
      --border-input-dark: #445258;
      --text-muted: #848f9b;
      --text-muted-x: #6f7575;
      --text-muted-xx: #4a5663;
      --bg-btn-light: #3e4550;
      --img-filter:  invert(75%) brightness(160%);
      --scrollbar: #212931;
      --switch-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(74, 86, 99)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sun'%3E%3Ccircle cx='12' cy='12' r='5'%3E%3C/circle%3E%3Cline x1='12' y1='1' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='23'%3E%3C/line%3E%3Cline x1='4.22' y1='4.22' x2='5.64' y2='5.64'%3E%3C/line%3E%3Cline x1='18.36' y1='18.36' x2='19.78' y2='19.78'%3E%3C/line%3E%3Cline x1='1' y1='12' x2='3' y2='12'%3E%3C/line%3E%3Cline x1='21' y1='12' x2='23' y2='12'%3E%3C/line%3E%3Cline x1='4.22' y1='19.78' x2='5.64' y2='18.36'%3E%3C/line%3E%3Cline x1='18.36' y1='5.64' x2='19.78' y2='4.22'%3E%3C/line%3E%3C/svg%3E");
      --info-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' width='24' height='24' viewBox='0 0 24 24' stroke='rgb(74, 86, 99)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
      --grid-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' width='24' height='24' viewBox='0 0 24 24' stroke='rgb(74, 86, 99)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z' /%3E%3C/svg%3E");  

    }

body {
    animation: fadeIn 3s ease;
    background-color: var(--page-bg-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--text-color);
    width: 100%;
    z-index: 1;
    text-align: left
}

*{
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) var(--page-bg-color);
}

*::-webkit-scrollbar {
width: 8px;
}

*::-webkit-scrollbar-track {
background: var(--page-bg-color);
}

*::-webkit-scrollbar-thumb {
background-color: var(--scrollbar);
border-radius: 20px;
border: none;
}

body div {
    transition: all .3s ease
}

button,
input,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

small {
    font-size: 12px;
    color: var(--text-muted)
}


.hidden {
    display: none !important;
}

.shown {
    display: block !important;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
}

header .header_wrp {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 0 20px;
}

header .logo a{
    transition: all 0.3s;
    display: flex;
    gap: 0;
    text-decoration: none;
    text-transform: none;
}

header .logo a svg{
    color: var(--theme-color);
    margin-top: -3px;
    margin-right: -4px;
}

header .logo a p{
    color: var(--text-muted);
    font-size: 16px;
    font-weight: 600;
}

header .logo a p span{
    color: var(--text-muted-xx);
}

header .logo a:hover{
    transition: all 0.3s;
}

header .header_wrp .controlls {
    display: flex;
    gap: 15px;
}

header .dashboard a{
    display: flex;
    height: 38px;
    width: 38px;
    background-image: var(--grid-icon);
    background-repeat: no-repeat;
    background-position: top 9px left 9px;
    background-size: 20px;
    margin-top: -9px;
    transition: all 0.3s;
    border-radius: 4px;
}


header .dashboard a:hover{
    background-color: var(--page-bg-color-light);
    transition: all 0.3s;
}

header .info a{
    display: flex;
    height: 38px;
    width: 38px;
    background-image: var(--info-icon);
    background-repeat: no-repeat;
    background-position: top 9px left 9px;
    background-size: 20px;
    margin-top: -9px;
    transition: all 0.3s;
    border-radius: 4px;
}

header .info a:hover{
    background-color: var(--page-bg-color-light);
    transition: all 0.3s;
}

header .setting {
    color: var(--text-muted-xx);
}

header .setting a{
    display: flex;
    height: 38px;
    width: 38px;
    background-image: var(--switch-icon);
    background-repeat: no-repeat;
    background-position: top 9px left 9px;
    background-size: 20px;
    margin-top: -9px;
    transition: all 0.3s;
    border-radius: 4px;
}

header .setting a:hover, .active{
    background-color: var(--page-bg-color-light);
    transition: all 0.3s;
}

@media only screen and (max-width: 660px) {
    header .header_wrp {
        background-color: var(--page-bg-color);
        padding: 18px 15px 6px 15px;
        margin-top: 0px;
        z-index: 1000;
    }

    header .header_wrp .controlls {
        gap: 10px;
    }

    header .setting .setting_list {
        border: 1px solid var(--text-muted-xx);
    }

    header .dashboard {
        margin-top: -1px;
    }
}

.app_wrap {
    max-width: 760px;
    margin: auto;
    margin-top: 190px;
}

.app_title {
    max-width: 720px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
}

.app_title h1{
    font-size: 27px;
}

.app_title p{
    font-size: 18px;
}

.app_title h1 span{
    color: var(--theme-color);
    font-weight: 600;
}

@media only screen and (max-width: 660px) {
    .app_title {
        flex-direction: column;
        gap: 0px;
        margin-bottom: 25   px;
        margin-top: -15px;
    }

    .app_title h1{
        font-size: 24px;
    }

    .app_title p{
        font-size: 15px;
    }
}

.form-warp {
    background-color: var(--page-bg-color-light);
    padding: 35px;
    border-radius: 6px;
    box-shadow: var(--shadow-large);
}

.form-warp form {
    display: flex;
    flex-direction: column;
    gap: 25px
}

.form-warp form div input[type=tel],
textarea {
    width: 100%;
    transition: all .3s;
    background-color: var(--page-bg-color);
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid var(--border-input-light);
    color: var(--text-color)
}

.form-warp form input[type=tel]:focus,
textarea:focus {
    border: 1px solid var(--border-input-dark);
    outline: 0;
    outline: 0;
    transition: all .3s
}

.form-warp form div .iti {
    width: 100% !important
}

.form-warp form div label {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 8px;
    display: block
}

.form-warp form input[type=tel] {
    height: 45px
}

.form-warp form textarea {
    padding: 15px;
    font-size: 18px;
    resize: none;
}

.form-warp form .button-warp {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    width: 100%
}

.form-warp form input[type=submit] {
    background-color: #00bfa5;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 35px;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0 2px 3px 0 rgba(0, 15, 23, .2)
}

.form-warp form input[type=submit]:hover {
    background-color: #02ad96;
    transition: all .3s
}

.form-warp form .button-warp a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--bg-btn-light);
    padding: 14px 25px 16px 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
    opacity: .8;
    box-shadow: 0 2px 3px 0 rgba(0, 15, 23, .2)
}

.form-warp form .button-warp a:hover {
    transition: all .3s;
    opacity: 1
}

.form-warp form .iti__flag-container {
    width: 50px
}

.form-warp form .iti__flag-container .iti__arrow {
    margin-left: 10px
}

.more-info {
    max-width: 720px;
    margin: 40px auto 60px auto;
    padding: 0 15px
}

.more-info h3 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7px;
    margin-top: 25px;
    color: var(--text-muted)
}

.more-info p {
    color: var(--text-muted);
    line-height: 1.7;
    font-size: 13px;
    text-align: left
}

#hidden-err {
    display: none
}

.error-msg {
    font-size: 12px;
    color: red;
    margin: 10px auto -12px auto;
    display: block !important;
    text-align: left
}

#hidden-suc {
    display: none
}

.suc-msg {
    font-size: 14px;
    font-weight: 600;
    color: #029b86;
    margin: 20px auto -10px auto;
    display: block !important;
    border: 1px solid #00bfa5;
    padding: 10px;
    text-align: center;
    border-radius: 4px
}

.notification {
    position: absolute;
    height: 45px;
    width: 100%;
    top: 0;
    background-color: rgb(0, 0, 0, .8);
    box-shadow: 0 0 4px #0e1216;
    padding-top: 12px;
    display: none
}

.notify {
    display: block !important
}

.notification p {
    text-align: center;
    color: #00bfa5
}

footer {
    max-width: 720px;
    margin: 30px auto 45px auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between
}

footer p {
    font-size: 12px;
    color: var(--text-muted-xx)
}

footer a {
    color: var(--text-muted);
    text-decoration: none;
    color: var(--text-muted-xx);
    text-decoration: underline;
}

@media only screen and (max-width: 1367px) {
    .app_wrap {
        margin-top: 150px;
    }
}

@media only screen and (max-width:768px) {
    .app_wrap {
        max-width: 100%;
        margin: 90px 15px 0 15px;
    }
    .form-warp {
        padding: 35px 20px;
        border-radius: 6px;
        box-shadow: 0 2px 6px 0 rgba(0, 15, 23, .15)
    }

    .form-warp form input[type=submit] {
        padding: 15px 25px
    }

    .form-warp form .button-warp {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: baseline;
        width: auto;
        margin-top: 0
    }

    .form-warp form input[type=submit] {
        width: 100%
    }

    .form-warp form .button-warp a {
        width: 100%;
        text-align: center
    }

    .more-info {
        padding: 0 25px
    }

    .responsive-pc {
        display: none
    }

    footer {
        padding: 0 25px
    }
}

.iti__country-name {
    color: #001710 !important
}

.iti__dial-code {
    color: #888f8f !important
}

.page-404 {
    margin: 45px auto;
    max-width: 460px
}

.page-404 h1,
p {
    text-align: center
}

.page-404 h1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase
}

.page-404 p {
    max-width: 360px;
    margin: auto;
    margin-top: 12px;
    color: var(--text-muted)
}

.page-404 p a {
    color: var(--text-color)
}